/* background-color: #d1ebea; */
body {
    background-color: #cedee0;
}

.upper-sectional {
    display: flex;
    flex-direction: column;
}
.first-sectional {
    display: flex;
    width:100%;
    height: 500px;
    background: url('./assets/nyc_bg_image.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.nav-news-container {
    align-self: center;
}
.nav-news-container h5{
    margin: 0px;
    padding: 5px;
}

/*----------Nav based CSS----------*/
.nav-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-left: -25%;
    padding: 0px;
}
/*Padding-left controls space between links*/
.nav-links li{
    margin: 5px;
    padding-left: 30px;
}

/* Creating a horizontal navigation bar */
.nav-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* justify-content: space-between; */
}

.nav-link-flex-container { 
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* align-self: flex-end; */
}

/*This is what needs work*/

/*---------------------------------*/


.nav-logo-flex-container {
    display: flex;
    width: 20%;
    /* justify-content: center; */
    align-items: center;
}
.nav ul li {
    display: inline;
    padding: 10px;
}
.nav-logo{
    width: 50px;
    height: 50px;
    margin: 5px;
}
/*----------End of Nav based CSS----------*/
