/* background-color: #d1ebea; */
@font-face {
    font-family: "Open-Sans";
    src: local("Open-Sans"), url("./fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf") format("truetype")
}
body {
    background-color: white;
    font-family: Open-Sans, Arial, Helvetica;
}

.upper-sectional {
    display: flex;
    flex-direction: column;
}

/* Creating a horizontal navigation bar */
.nav-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #683B2B;
    /* justify-content: space-between; */
}
/* Start of Nav Logo */
.nav-logo-flex-container {
    display: flex;
    width: 20%;
    align-items: center;
}
.nav-logo{
    width: 50px;
    height: 50px;
    margin: 5px;
}
/* End of Nav-Logo */
/* Start of Nav-Links */


.nav-link-flex-container { 
    position:absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* align-self: flex-end; */
}
.nav-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    /* margin-left: -25%; */
    padding: 0px;
}
.nav-links ul{
    align-self: center;
}
/*Padding-left controls space between links*/
.nav-links li{
    margin: 5px;
    /* padding-left: 30px; */
}

.nav-links li a{
    text-decoration: none;
    /* display: inline; */
    padding: 20px 32px;
    color: white;
}
.nav-links li:hover{
    color: black;
}
/* End of Nav-Links */




/*---------------------------------*/







/* Start of Nav News */
.nav-news-container {
    display: flex;
    flex-direction: column;
    /* align-self: center; */
    background-color: black;
    width: 100%;
}
.nav-news{
    align-self: center;
}

.nav-news h5{
    margin: 0px;
    padding: 5px;
    color: white;
}
/* End of Nav News */

/*----------End of Nav based CSS----------*/

.first-sectional {
    display: flex;
    flex-direction: row;
    width:100%;
    height: 600px;
    background-color: #FAF6F2;
    /* background: url('./assets/grayscale.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; */
    /* background: url('./assets/grayscale.jpg') no-repeat center center fixed; */
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}


.photo-flex{
    width:60%;
    height: 100%
}
.greeting-flex{
    width: 40%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.photo-selfie{
    width: 100%;
    height: 100%;
}

/* Beginning of Second Sectional */
.second-sectional{
    display: flex;
    width: 100%;
    height: 400px;
    flex-direction: column;
    align-items: center;
    background-color: #DED1BD;
}
.skills-flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 70%;
}
.skills-flex-container a{
    display: flex;
    flex-direction: column;
    width: 22%;
    height: 80%;
    /* padding: 0px; */
}
.skills-trading-image{
    border-radius: 10px;

    width:100%;
    height: 80%;
    background-image: url('https://media.giphy.com/media/4qbCWW4WwDpoYtzj6S/giphy.gif');
    background-position: center;
    background-size: 100%;
    width:auto;
    height: auto;
}
.skills-trading-label{
    color: black;
}


#skills-coding{

}
#skills-engineering{

}
/* must get rid of html link and store locally */
#skills-photography{
    background-image: url('https://media.giphy.com/media/Ma0X1M9lQB4FruMaX3/giphy.gif');
    background-position: center;
    color: white;
}

/* End of Second Sectional */
.third-sectional{
    display: flex;
    width: 100%;
    height: 400px;
    background-color: #D49E8D;
}
.fourth-sectional{
    display: flex;
    width: 100%;
    height: 400px;
    background-color: #B08401;
}
.footer-sectional{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #693B2B;
}


/* save this color Honeydew: #F0FFF0 */